<p><%= @registervehicles.name %></p>

<p><%= @registervehicles.vehiclenumber %></p>
<p><%= @registervehicles.phonenumber %></p>

# <ul>
#   <li><%= link_to "Edit", edit_registervehicles_path(@registervehicles) %></li>
# </ul>