<h1>Parking registerd<h1>
<li class="dropdown">
          <a href="#" class="dropbtn">Categories</a>
          <div class="dropdown-content">
            <%= link_to 'Technology' %>
            <%= link_to 'Travel' %>
            <%= link_to 'Food' %>
          </div>
        </li>

# <ul>
#   <% @registervehicles.each do |vehicle| %>
#     <li><%= vehicle.name %></li>
#   <% end %>
# </ul>